<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs', title="movieDetails" ) %>

</head>

<body>
    <%- include ('../partials/header.ejs') %>

        <section id="movieDetails-container">

            <div id="bg-container">

                <img id="bg-img" src=<%=`https://image.tmdb.org/t/p/w500${data.poster_path}`%>>

            </div>
            <div id="movie-info">

                <h3>

                    <%=data.title %>

                </h3>
                <p>

                    <%=data.release_date %>

                </p>
                <p>

                    <% data.genres.forEach(element=> { %>
                        <li>
                            <%= element.name %>
                        </li>
                        <% }) %>

                </p>
                <h4>Plot Summary</h4>
                <p>
                    <%=data.overview %>
                </p>

            </div>

        </section>
</body>

</html>