<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs' ) %>
</head>

<body>
    <%- include ('../partials/header.ejs') %>
        <div id="img-container">
            <% data.results.forEach(element=> { %>
                <figure>

                    <img id="small-img" src=<%=`https://image.tmdb.org/t/p/w500${element.poster_path}`%>>
                    <figcaption>
                        <a href=<%=`/movieDetails/${element.id}`%>>Details</a>
                        <%=element.title %> <br>
                            <%="â­"%>
                                <%=element.vote_average %>
                    </figcaption>
                </figure>
                <% }) %>
        </div>

</body>

</html>