<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs' ) %>
</head>

<body>
    <%- include ('../partials/header.ejs') %>
        <div id="img-container">
            <% data.results.forEach(element=> { %>
                <figure>

                    <a href=<%=`/movieDetails/${element.id}`%>><img id="small-img"
                            src=<%=`https://image.tmdb.org/t/p/w500${element.backdrop_path}`%>></a>
                    <figcaption>

                        <p>
                            <%=element.title %> <br>
                        </p>

                        <P>
                            <%="â­"%>
                                <%=element.vote_average %>
                        </p>

                    </figcaption>
                </figure>
                <% }) %>
        </div>

</body>

</html>